<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TAXA_DOMINGO_E_FERIADOS" value="Valor1" />
		<add key="TAXA_DIURNA" value="0.054700" />
		<add key="TAXA_NOTURNA" value="0.109600" />
		<add key="CAMINHO_PDF_BASE_TRECHOS" value="C:\Usr\Trechos.pdf"/>
		<add key="CAMINHO_PDF_ESCALA" value="C:\Usr\PlanejamentoMensalpdf.pdf"/>
	</appSettings>
</configuration>