<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TAXA_DOMINGO_E_FERIADOS" value="Valor1" />
		<add key="TAXA_DIURNA" value="Valor2" />
		<add key="TAXA_NOTURNA" value="Valor2" />
		<add key="CAMINHO_PDF_BASE_TRECHOS" value="C:\USR\Trechos.pdf"/>
		<add key="CAMINHO_PDF_ESCALA" value="C:\USR\Trechos.pdf"/>
	</appSettings>
</configuration>